*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

span.lightboxplaceholder {
  display: none; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 400px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 600px) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 700px) {
    html {
      font-size: 80%; } }
  @media only screen and (min-width: 900px) {
    html {
      font-size: 100%; } }

body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  line-height: 1; }
  @media only screen and (min-width: 900px) {
    body {
      font-size: 1.1rem;
      line-height: 1.2; } }

.footer {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #2C4D3A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  line-height: 1;
  color: #fff;
  padding: 1rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to right, #2C626B, #47765F);
  display: flex;
  flex-direction: column;
  line-height: 1;
  z-index: 10; }
  @media only screen and (min-width: 1140px) {
    .header {
      width: 1140px;
      left: calc((100vw - 1140px) / 2); } }
  @media only screen and (min-width: 769px) {
    .header {
      flex-direction: row;
      justify-content: space-between; } }
  @media only screen and (min-width: 1140px) {
    .header {
      width: 1140px;
      left: calc((100vw - 1140px) / 2); } }
  .header-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    overflow: hidden; }
    @media only screen and (min-width: 769px) {
      .header-fixed {
        padding: .5rem; } }
  .header__logo-box {
    width: 3.2rem;
    height: 3.2rem;
    margin-left: .5rem; }
  .header__logo {
    height: 100%; }
  .header__menu-icon #menu {
    display: none; }
  .header__menu-icon #menu-label {
    color: #F4F296;
    font-size: 2.8rem; }
  @media only screen and (min-width: 769px) {
    .header__menu-icon {
      display: none; } }

.header__nav {
  display: none;
  flex-direction: column;
  overflow: hidden; }
  @media only screen and (min-width: 769px) {
    .header__nav {
      flex-direction: row;
      align-self: flex-end; } }

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center; }
  @media only screen and (min-width: 769px) {
    .nav-list {
      flex-direction: row;
      align-items: center; } }
  .nav-list__item {
    border-top: 1px solid #F4F296;
    padding: 2rem;
    border-bottom: 5px solid transparent; }
    @media only screen and (min-width: 769px) {
      .nav-list__item {
        border-top: none;
        padding: 1rem; } }
  .nav-list__link:link, .nav-list__link:visited {
    color: #F4F296;
    text-decoration: none;
    letter-spacing: .3rem; }
  @media only screen and (min-width: 769px) {
    .nav-list li.current-page {
      border-bottom: 5px solid #F4F296; } }
  @media only screen and (min-width: 769px) {
    .nav-list a {
      font-size: 1.2rem; } }

.heading-1 {
  font-size: 2.5rem;
  text-align: center; }

.heading-2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center; }

.heading-3 {
  font-size: 1rem; }

.heading1-index {
  font-family: "Lato",sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .6rem;
  animation: moveInLeft .6s ease-out; }
  @media only screen and (min-width: 700px) {
    .heading1-index {
      font-size: 4.5rem; } }

.heading2-index {
  font-family: "Lato",sans-serif;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .35rem;
  animation: moveInRight .6s ease-out;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 700px) {
    .heading2-index {
      font-size: 1.5rem; } }

.homepage-heading2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #2C6A5A, #79daa4);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 3rem;
  transition: all .2s; }
  @media only screen and (min-width: 700px) {
    .homepage-heading2 {
      font-size: 2.5rem; } }
  .homepage-heading2:hover {
    transform: skewY(2deg); }

.mb-small {
  margin-bottom: 0.8rem; }

.fixed-nav__checkbox {
  display: none; }

.fixed-nav__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: 20000;
  text-align: center;
  cursor: pointer; }
  .fixed-nav__button--memory {
    background-color: #F9D949;
    color: #fff; }

.fixed-nav__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  right: 3.5rem;
  top: 3.5rem;
  background-image: radial-gradient(#79daa4, #2C6A5A);
  z-index: 1000;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.fixed-nav__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.fixed-nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.fixed-nav__item {
  margin: 1rem; }

.fixed-nav__link:link, .fixed-nav__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

.fixed-nav__link:hover, .fixed-nav__link:active {
  background-position: 100%;
  color: #2C4D3A; }

.fixed-nav__checkbox:checked ~ .fixed-nav__background {
  transform: scale(80); }

.fixed-nav__checkbox:checked ~ .fixed-nav__nav {
  width: 100vw;
  opacity: 1; }

.fixed-nav__icon {
  position: relative;
  margin-top: 3rem; }
  .fixed-nav__icon, .fixed-nav__icon::before, .fixed-nav__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
    transition: all .2s; }
  .fixed-nav__icon::before, .fixed-nav__icon::after {
    content: '';
    position: absolute;
    left: 0; }
  .fixed-nav__icon::before {
    top: -.8rem; }
  .fixed-nav__icon::after {
    top: .8rem; }

.fixed-nav__button:hover .fixed-nav__icon::before {
  top: -1rem; }

.fixed-nav__button:hover .fixed-nav__icon::after {
  top: 1rem; }

.fixed-nav__checkbox:checked + .fixed-nav__button .fixed-nav__icon {
  background-color: transparent; }
  .fixed-nav__checkbox:checked + .fixed-nav__button .fixed-nav__icon::before {
    transform: rotate(135deg);
    top: 0; }
  .fixed-nav__checkbox:checked + .fixed-nav__button .fixed-nav__icon::after {
    transform: rotate(-135deg);
    top: 0; }

.decoration-right {
  position: absolute;
  top: 50%;
  right: 0;
  height: 10vh;
  width: 65vw;
  background-color: rgba(249, 217, 73, 0.89);
  transform: translate(2rem, -20%); }

.decoration-leftTop {
  width: 100vw;
  height: 13vh;
  position: relative;
  background-color: #F9D949;
  transform: translate(-2rem, 100%) skewY(25deg);
  z-index: -1; }

.decoration-rightTop {
  width: 100vw;
  height: 13vh;
  position: relative;
  background-color: #F9D949;
  transform: translate(-2rem, 0) skewY(-25deg);
  z-index: -1; }

.user-story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  background-color: rgba(59, 134, 195, 0.863);
  color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .user-story__shape {
    width: 7rem;
    height: 7rem;
    clip-path: circle(50% at 50% 50%);
    margin-top: -4rem;
    margin-bottom: 1rem; }
  .user-story__image {
    height: 100%;
    transform: scale(1.4);
    backface-visibility: hidden;
    transition: all .3s; }
  .user-story__caption {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .user-story:hover .user-story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .user-story:hover .user-story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.card {
  position: relative;
  width: 60%; }
  .card__side {
    transition: all 1s ease;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
  .card__picture {
    background-size: cover;
    height: 16rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/user1.png); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/user2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/user3.jpg); }
  .card__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    text-align: right;
    width: 60%;
    z-index: 10; }
  .card__heading-span {
    padding: .5rem 1rem;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 1rem; }
  .card__back {
    height: 10rem;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%); }
    .card__back--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.design {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.design-header {
  background-image: linear-gradient(to right bottom, rgba(44, 98, 107, 0.7), rgba(19, 174, 104, 0.7)), url(../images/designhead.jpg);
  background-size: cover;
  height: 50vh;
  color: #fff; }
  .design-header h1 {
    text-align: center;
    padding-top: 25vh;
    letter-spacing: .5rem; }

.desing-main .gallary {
  max-width: 1000px;
  margin: 0 auto; }

.desing-main .photo-grid {
  margin: 30px auto;
  width: 70%;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 900px) {
    .desing-main .photo-grid {
      flex-direction: row;
      width: 100%; } }

.desing-main .column {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media only screen and (min-width: 900px) {
    .desing-main .column {
      width: 49%; } }

.desing-main .photo-cell {
  margin: 2rem; }

.desing-main .photo-cell img {
  width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(141, 141, 139, 0.75); }

.homepage {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  font-size: 1.2rem; }

.index__name-card {
  height: 45vh;
  background-image: linear-gradient(to right bottom, rgba(44, 98, 107, 0.7), rgba(19, 174, 104, 0.7)), url(../images/indexhead.jpeg);
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .index__name-card img {
    width: 100%; }
  @media only screen and (min-width: 900px) {
    .index__name-card {
      height: 75vh; } }
  @media only screen and (min-width: 700px) {
    .index__name-card {
      height: 95vh;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); } }

.index__name-content {
  margin-top: -5%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff; }

.index {
  margin-top: 3.4rem;
  line-height: 1.3; }
  @media only screen and (min-width: 900px) {
    .index {
      padding: 5rem;
      margin-top: 0; } }

.designer {
  padding: 10rem 2rem;
  margin-top: -6rem;
  display: flex;
  flex-direction: column;
  background-image: url(../images/device.svg);
  background-size: 40%;
  background-position: 90% 0%;
  background-repeat: no-repeat; }
  .designer h3 {
    font-size: 1.2rem; }
  .designer__content {
    display: flex; }
  .designer__description {
    width: 100%;
    line-height: 2; }
  .designer a {
    margin-top: 2rem;
    align-self: center; }

.developer {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  background-image: url(../images/html.svg);
  background-size: 30%;
  background-position: 8% 4%;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 700px) {
    .developer {
      background-position: 0% 0%; } }
  .developer a {
    margin-top: 2rem;
    align-self: center; }
  .developer h2 {
    align-self: flex-end; }
  .developer__box {
    width: 100%;
    padding: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center; }
    .developer__box:not(:last-child) {
      margin-bottom: 4rem; }
    .developer__box img {
      width: 8rem; }
    .developer__box p {
      padding: 2rem; }
  .developer__image {
    width: 25%;
    position: absolute;
    z-index: -1; }
    .developer__image--1 {
      top: 2%;
      left: 3px; }
    .developer__image--2 {
      top: 95%;
      right: 10%; }
  .developer__description {
    width: 100%;
    line-height: 2; }

.researcher {
  padding: 10rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  background-image: url(../images/affinity-wall.svg);
  background-size: 30%;
  background-position: 90% 3%;
  background-repeat: no-repeat; }
  .researcher a {
    margin-top: 2rem;
    align-self: center; }
  .researcher h2 {
    padding: 0 2rem; }
  .researcher h3 {
    font-size: 1.7rem;
    line-height: 1.9; }
  .researcher p {
    line-height: 2; }
  .researcher__summary {
    padding: 1rem 2rem; }
  .researcher__box {
    padding: 2rem;
    height: 20vh;
    background-image: linear-gradient(90deg, rgba(44, 98, 107, 0.7) 0%, rgba(44, 98, 107, 0.7) 30%, transparent 30%), url(../images/detroitbg.jpg);
    background-size: cover;
    display: flex; }
    .researcher__box--left {
      background-image: linear-gradient(90deg, transparent 0%, transparent 30%, rgba(44, 98, 107, 0.7) 30%), url(../images/detroitbg.jpg); }
  .researcher__title {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    color: #fff; }
  .researcher__info {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 1.6;
    padding: 1rem; }

#project-main {
  margin-top: 6rem;
  width: 100%;
  max-width: 1140px;
  margin: 6rem auto 2rem auto; }

.uxProjects {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 900px) {
    .uxProjects {
      flex-direction: row;
      align-items: flex-start; } }
  .uxProjects .column--1 {
    margin-top: -3rem; }
    @media only screen and (min-width: 900px) {
      .uxProjects .column--1 {
        margin-top: 5rem; } }

.project {
  overflow: hidden;
  position: relative;
  padding-bottom: 1rem;
  display: flex;
  width: 90%;
  max-width: 500px;
  flex-direction: column;
  border: 2.5px solid black;
  border-image: linear-gradient(#F3F3F4, #F4F296, #C2E7E6) 30;
  margin: 3rem auto;
  box-shadow: 0px 1px 8px rgba(141, 141, 139, 0.75); }
  @media only screen and (min-width: 900px) {
    .project {
      width: 400px;
      margin: 3rem 2rem; } }
  .project a.btn-inline {
    position: absolute;
    bottom: 2%;
    right: 3%;
    text-decoration: none; }

.title {
  font-size: 1.5em;
  margin-bottom: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #C2E7E6;
  color: #2C6A5A; }

.project img {
  width: 100%; }

.pro-description {
  position: relative;
  padding: 2rem;
  line-height: 1.5; }
  @media only screen and (min-width: 900px) {
    .pro-description {
      padding: 1rem; } }

#fullpage-main .d3-page {
  text-align: center;
  position: relative;
  height: 95%; }
  #fullpage-main .d3-page__wrap {
    padding: 4rem;
    color: white; }
  #fullpage-main .d3-page__content {
    margin-top: 2rem;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 1.5; }
    #fullpage-main .d3-page__content .img-group {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media only screen and (min-width: 900px) {
        #fullpage-main .d3-page__content .img-group {
          flex-direction: row; } }
    #fullpage-main .d3-page__content .sitemap {
      width: 55vmin;
      display: block;
      margin: 1.5rem auto; }
      @media only screen and (min-width: 900px) {
        #fullpage-main .d3-page__content .sitemap {
          margin: 0 2rem 0 0; } }
      #fullpage-main .d3-page__content .sitemap--1 {
        width: 40vw; }
    #fullpage-main .d3-page__content ul {
      list-style-position: inside; }
    #fullpage-main .d3-page__content .review {
      color: black;
      font-weight: 300;
      height: 10rem;
      border-radius: 6px; }
      #fullpage-main .d3-page__content .review:first-of-type {
        margin-top: 2rem; }
      #fullpage-main .d3-page__content .review:nth-child(even) {
        transform: translateX(-1.2rem); }
      #fullpage-main .d3-page__content .review:nth-child(odd) {
        transform: translateX(1.2rem); }
      #fullpage-main .d3-page__content .review .review__text {
        margin-top: -2.2rem; }
        @media only screen and (min-width: 700px) {
          #fullpage-main .d3-page__content .review .review__text {
            margin-top: -1rem; } }
        @media only screen and (min-width: 700px) {
          #fullpage-main .d3-page__content .review .review__text {
            margin-top: -.5rem; } }
    #fullpage-main .d3-page__content .table-wrapper {
      width: 85%;
      margin: 1rem auto;
      height: 85vh;
      clip-path: polygon(0 0, 100% 0, 99% 50%, 50% 100%, 0 100%); }
      @media only screen and (min-width: 700px) {
        #fullpage-main .d3-page__content .table-wrapper {
          height: 55vh; } }
    #fullpage-main .d3-page__content table, #fullpage-main .d3-page__content th, #fullpage-main .d3-page__content td {
      border: 1px solid #fff;
      border-collapse: collapse;
      font-size: .8rem; }
      @media only screen and (min-width: 600px) {
        #fullpage-main .d3-page__content table, #fullpage-main .d3-page__content th, #fullpage-main .d3-page__content td {
          font-size: 2rem; } }
      @media only screen and (min-width: 700px) {
        #fullpage-main .d3-page__content table, #fullpage-main .d3-page__content th, #fullpage-main .d3-page__content td {
          font-size: 1.4rem; } }
      @media only screen and (min-width: 900px) {
        #fullpage-main .d3-page__content table, #fullpage-main .d3-page__content th, #fullpage-main .d3-page__content td {
          font-size: 1rem; } }
    #fullpage-main .d3-page__content th, #fullpage-main .d3-page__content td {
      padding: 5px;
      text-align: center;
      vertical-align: center; }
  #fullpage-main .d3-page__svg {
    width: 12rem;
    position: absolute;
    bottom: 3rem;
    right: 3rem; }
  #fullpage-main .d3-page__survey {
    width: 100%;
    height: 80vmin;
    margin: 0 auto; }
  #fullpage-main .d3-page__task {
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    color: black;
    text-align: left;
    line-height: 1.3;
    border-radius: 6px;
    margin-bottom: 2rem;
    font-size: 1rem;
    margin: 1rem 0 0rem 0; }
    @media only screen and (min-width: 600px) {
      #fullpage-main .d3-page__task {
        font-size: 2rem; } }
    @media only screen and (min-width: 700px) {
      #fullpage-main .d3-page__task {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 900px) {
      #fullpage-main .d3-page__task {
        font-size: 1rem; } }
    #fullpage-main .d3-page__task:nth-child(even) {
      transform: translateX(-1.2rem); }
    #fullpage-main .d3-page__task:nth-child(odd) {
      transform: translateX(1.2rem); }
  #fullpage-main .d3-page .table-wrapper--heuristic th, #fullpage-main .d3-page .table-wrapper--heuristic td {
    text-align: left; }

#fullpage-main #page1 {
  background-color: #6b5864; }

#fullpage-main #page2 {
  background-color: #EC777D; }

#fullpage-main #page3 {
  background-color: #5595B5; }

#fullpage-main #page4 {
  background-color: #EFA26C; }

#fullpage-main #page5 {
  background-color: #76B099; }

#fullpage-main #page6 {
  background-color: #5595B5; }

#fullpage-main #page7 {
  background-color: #74646e; }

@media only screen and (min-width: 890px) {
  p#survey {
    width: 80%; } }

#fullpage-container {
  overflow: hidden;
  width: 100%; }

#fullpage-main {
  top: 0;
  position: relative;
  font-family: "Lato", sans-serif; }

#fullpage-control {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #fullpage-control .circle {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: white;
    margin: .6rem;
    transition: transform 0.5s ease-out; }
  #fullpage-control .large {
    transform: scale(1.3); }

.mymemory {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 2rem;
  line-height: 1.5;
  color: #2f6a9b;
  overflow: hidden; }
  @media only screen and (min-width: 400px) {
    .mymemory {
      padding: 2rem 4rem; } }
  .mymemory__appscreen {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start; }
    .mymemory__appscreen img {
      display: block; }
    .mymemory__appscreen--1 {
      align-self: flex-end;
      transform: translateY(10%);
      width: 45%;
      margin-right: 1rem;
      z-index: 4; }
    .mymemory__appscreen--2 {
      width: 50%;
      align-self: center; }
    .mymemory__appscreen--3 {
      align-self: flex-start;
      width: 50%;
      z-index: 4;
      box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateX(1rem); }
    .mymemory__appscreen--4 {
      width: 35%;
      align-self: center;
      box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.15); }
    .mymemory__appscreen--5 {
      width: 60%;
      margin-left: 5rem; }
    .mymemory__appscreen--page {
      padding: 0;
      width: 50%; }

.mymemory-header {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .mymemory-header::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(249, 217, 73, 0.829);
    clip-path: polygon(20% 40%, 100% 40%, 100% 60%, 20% 60%);
    transform: scale(1.3);
    z-index: -5; }
  .mymemory-header__appname {
    padding: 1rem 1rem 0 0;
    z-index: 5;
    margin-right: 2rem; }
    @media only screen and (min-width: 600px) {
      .mymemory-header__appname {
        padding: 1rem 6rem 0 0; } }
    @media only screen and (min-width: 700px) {
      .mymemory-header__appname {
        padding: 1rem 13rem 0 0; } }
    @media only screen and (min-width: 1000px) {
      .mymemory-header__appname {
        padding: 1rem 18rem 0 0; } }
    .mymemory-header__appname h1 {
      line-height: 1.2;
      padding-bottom: 1.2rem;
      text-align: left; }
      @media only screen and (min-width: 1000px) {
        .mymemory-header__appname h1 {
          font-size: 3.5rem; } }
    .mymemory-header__appname p {
      width: 80%;
      font-size: 1.2rem;
      padding-top: 1.2rem;
      position: relative; }
      @media only screen and (min-width: 700px) {
        .mymemory-header__appname p {
          width: 130%; } }
      .mymemory-header__appname p::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        border-top: 2px solid #3b86c3; }

.showcase {
  padding: 6rem .5rem; }
  .showcase__album, .showcase__shopping {
    padding: 8rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .showcase__album::after, .showcase__shopping::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(249, 217, 73, 0.822);
      clip-path: polygon(0 32%, 0 0, 100% 71%, 100% 100%);
      transform: scale(1.5);
      z-index: -5; }
  .showcase__detail {
    width: 50%;
    line-height: 2; }

.mymemory-story {
  padding: 2rem 0 4rem 0;
  width: 85%;
  margin: 0 auto;
  height: 70rem; }
  @media only screen and (min-width: 900px) {
    .mymemory-story {
      width: 65%; } }
  .mymemory-story .review:nth-child(odd) {
    transform: translateX(-2rem); }
  .mymemory-story .review:nth-child(even) {
    transform: translateX(1.2rem); }

.dec-wrapper {
  position: relative;
  transform: translate(-0.5rem, -400%);
  z-index: -1; }
  .dec-wrapper--last {
    transform: translate(-0.5rem, -280%); }

.neighbor {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%; }
  .neighbor__heading {
    background-image: linear-gradient(to right bottom, #923886, #4588cf);
    display: block;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center; }
  .neighbor header {
    height: 40vh;
    background-image: linear-gradient(to right top, rgba(69, 136, 207, 0.753), #923886), url(../images/cyheader.jpg);
    color: #fff; }
    @media only screen and (min-width: 1000px) {
      .neighbor header {
        height: 45vh; } }
  .neighbor__title {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh; }
    @media only screen and (min-width: 1000px) {
      .neighbor__title h1 {
        font-size: 2.5rem; } }
  .neighbor__nav {
    padding: 2rem;
    list-style: none;
    display: flex;
    justify-content: flex-start; }
  .neighbor__list {
    display: inline-block; }
  .neighbor__link {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff; }
    @media only screen and (min-width: 1000px) {
      .neighbor__link {
        font-size: 1.3rem; } }

.neighbor__feature {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  line-height: 1.8rem; }
  .neighbor__feature h2 {
    margin: 1rem auto; }
  @media only screen and (min-width: 1000px) {
    .neighbor__feature {
      flex-direction: row;
      margin-top: -3rem;
      z-index: 10; }
      .neighbor__feature h2 {
        display: none; } }
  .neighbor__feature .feature-box {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    margin: 1rem; }
    @media only screen and (min-width: 1000px) {
      .neighbor__feature .feature-box {
        flex-direction: column;
        margin: -2rem 3rem 3rem 1rem; } }
    .neighbor__feature .feature-box__icon {
      padding: 1rem; }
      .neighbor__feature .feature-box__icon img {
        width: 8rem;
        height: 8rem; }
    .neighbor__feature .feature-box__info {
      padding: 2rem; }
      .neighbor__feature .feature-box__info h3 {
        margin-bottom: 2rem; }
        @media only screen and (min-width: 1000px) {
          .neighbor__feature .feature-box__info h3 {
            font-size: 1.3rem; } }

.neighbor__proto,
.neighbor__defense,
.neighbor__interaction {
  padding: 1rem;
  margin: 5rem 2rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px; }
  .neighbor__proto ol, .neighbor__proto ul,
  .neighbor__defense ol,
  .neighbor__defense ul,
  .neighbor__interaction ol,
  .neighbor__interaction ul {
    list-style-position: inside; }
  .neighbor__proto h2,
  .neighbor__defense h2,
  .neighbor__interaction h2 {
    margin: 2rem auto .8rem auto; }
    @media only screen and (min-width: 900px) {
      .neighbor__proto h2,
      .neighbor__defense h2,
      .neighbor__interaction h2 {
        margin: 2rem auto 3rem auto; } }
  .neighbor__proto iframe,
  .neighbor__defense iframe,
  .neighbor__interaction iframe {
    width: 280px;
    height: 210px; }
    @media only screen and (min-width: 700px) {
      .neighbor__proto iframe,
      .neighbor__defense iframe,
      .neighbor__interaction iframe {
        width: 480px;
        height: 360px; } }
    @media only screen and (min-width: 900px) {
      .neighbor__proto iframe,
      .neighbor__defense iframe,
      .neighbor__interaction iframe {
        width: 520px;
        height: 400px; } }

.neighbor__proto-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 1000px) {
    .neighbor__proto-box {
      flex-direction: row; } }
  .neighbor__proto-box .proto__info {
    line-height: 1.5;
    padding: 1rem; }
    @media only screen and (min-width: 1000px) {
      .neighbor__proto-box .proto__info {
        padding: 5rem; } }
  .neighbor__proto-box .proto__video {
    padding: 2rem; }

.neighbor__defense-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 1000px) {
    .neighbor__defense-box {
      flex-direction: row; } }
  .neighbor__defense-box .defense__info {
    line-height: 1.5;
    padding: 1rem; }
    @media only screen and (min-width: 1000px) {
      .neighbor__defense-box .defense__info {
        flex-basis: 40%; } }
    @media only screen and (min-width: 1000px) {
      .neighbor__defense-box .defense__info {
        padding-left: 5rem; } }
  .neighbor__defense-box .defense__img {
    width: 80%; }
    @media only screen and (min-width: 1000px) {
      .neighbor__defense-box .defense__img {
        width: 60%; } }
    .neighbor__defense-box .defense__img img {
      width: 90%; }

.neighbor__interaction-box {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 1000px) {
    .neighbor__interaction-box {
      flex-direction: row; } }
  .neighbor__interaction-box .interaction__info {
    line-height: 1.5;
    padding: 1rem;
    align-self: flex-start; }

.goal header {
  width: 100vw;
  height: 100vw;
  position: relative;
  color: #fff; }

.goal__heading {
  text-align: center; }

.goal__headbg {
  width: 200%;
  height: 200%;
  transform: translate(-25%, -40%);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(50% 12% at 50% 50%);
  clip-path: ellipse(50% 12% at 50% 50%);
  background-color: #353954;
  z-index: -1; }

.goal__title {
  padding: 3rem 1rem 0 6rem;
  width: 50%; }
  @media only screen and (min-width: 700px) {
    .goal__title {
      padding: 6rem 1rem 0 6rem; } }
  .goal__title h1 {
    line-height: 2; }
    @media only screen and (min-width: 700px) {
      .goal__title h1 {
        font-size: 4rem; } }
    @media only screen and (min-width: 900px) {
      .goal__title h1 {
        font-size: 7rem; } }
  .goal__title p {
    line-height: 1.4; }
    @media only screen and (min-width: 900px) {
      .goal__title p {
        font-size: 1.8rem; } }

.goal__screen {
  position: absolute;
  top: 8%;
  right: 18%; }
  .goal__screen img {
    height: 12rem;
    display: block; }
    @media only screen and (min-width: 700px) {
      .goal__screen img {
        height: 18rem; } }
    @media only screen and (min-width: 1000px) {
      .goal__screen img {
        height: 22rem; } }

.goal__circle {
  border-radius: 50%;
  position: absolute;
  font-size: 6px;
  font-weight: 100;
  text-align: center; }
  @media only screen and (min-width: 700px) {
    .goal__circle {
      font-size: 12px; } }
  .goal__circle--1 {
    background-color: red;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    top: 50%;
    left: -30%; }
    @media only screen and (min-width: 700px) {
      .goal__circle--1 {
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem; } }
  .goal__circle--2 {
    background-color: #4863C9;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    top: 40%;
    right: -30%; }
    @media only screen and (min-width: 700px) {
      .goal__circle--2 {
        height: 2.5rem;
        width: 2.5rem;
        line-height: 2.5rem; } }
  .goal__circle--3 {
    background-color: #E1CB4D;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    top: 90%;
    right: -20%; }
    @media only screen and (min-width: 700px) {
      .goal__circle--3 {
        height: 2rem;
        width: 2rem;
        line-height: 2rem; } }
  .goal__circle--4 {
    background-color: #fff;
    height: 1rem;
    width: 1rem;
    top: 100%;
    left: -10%; }
  .goal__circle--5 {
    background-color: #fff;
    height: 1.3rem;
    width: 1.3rem;
    top: 10%;
    right: -13%; }

.goal__main {
  padding: 2rem;
  line-height: 1.5; }

.goal__feature {
  margin-top: -22rem;
  padding: 2rem; }
  @media only screen and (min-width: 700px) {
    .goal__feature {
      margin-top: -33rem; } }
  @media only screen and (min-width: 900px) {
    .goal__feature {
      margin-top: -35rem; } }
  @media only screen and (min-width: 1000px) {
    .goal__feature {
      margin-top: -40rem; } }
  .goal__feature .feature-box {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .goal__feature .feature-box__icon {
      width: 8rem;
      height: 8rem;
      fill: #353954; }
      @media only screen and (min-width: 900px) {
        .goal__feature .feature-box__icon {
          width: 5rem;
          height: 5rem; } }
    .goal__feature .feature-box__info {
      padding: 2rem; }

.goal__proto .proto__screen {
  margin: 0 auto;
  width: 90%;
  padding: 3rem;
  height: 40vh;
  position: relative; }
  .goal__proto .proto__screen .proto__composition {
    width: 25rem; }
    .goal__proto .proto__screen .proto__composition img {
      display: block;
      position: absolute;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .goal__proto .proto__screen .goal1 {
    width: 12rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5; }
  .goal__proto .proto__screen .goal2 {
    width: 8rem;
    left: 25%;
    top: 12%;
    transform: translateX(-50%);
    z-index: 2; }
  .goal__proto .proto__screen .goal3 {
    width: 8rem;
    top: 12%;
    left: 75%;
    transform: translateX(-50%);
    z-index: 2; }

.goal__theory {
  padding: 3rem; }
  .goal__theory .theory__info {
    margin-top: 2rem; }
  .goal__theory .theory__img {
    display: flex;
    margin: 4rem auto;
    width: 100%;
    line-height: 1; }
    @media only screen and (min-width: 900px) {
      .goal__theory .theory__img {
        width: 70%; } }
    .goal__theory .theory__img img {
      width: 14rem;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
      margin: 1.5rem 0 6rem 0; }
    .goal__theory .theory__img .left {
      flex-basis: 45%;
      padding-top: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .goal__theory .theory__img .middle {
      flex-basis: 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .goal__theory .theory__img .middle .line {
        height: 15rem;
        width: 2px;
        background-color: #353954; }
      .goal__theory .theory__img .middle .circle {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        border: 1px solid #353954;
        position: relative; }
        .goal__theory .theory__img .middle .circle::after {
          content: '';
          display: block;
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #353954;
          border-radius: 50%; }
    .goal__theory .theory__img .right {
      flex-basis: 45%;
      padding-top: 17.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }

.coding {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  margin-top: 6rem; }
  .coding .coding-language__column--1 .coding-box:nth-child(odd) .coding-box__head {
    background-image: url(../images/codingbg1.png); }
  .coding .coding-language__column--1 .coding-box:nth-child(even) .coding-box__head {
    background-image: url(../images/codingbg2.png); }
  .coding .coding-language__column--2 .coding-box:nth-child(odd) .coding-box__head {
    background-image: url(../images/codingbg2.png); }
  .coding .coding-language__column--2 .coding-box:nth-child(even) .coding-box__head {
    background-image: url(../images/codingbg1.png); }
  .coding .coding-language {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 800px) {
      .coding .coding-language {
        flex-direction: row;
        justify-content: center; } }
  .coding .coding-box {
    width: 90%;
    max-width: 450px;
    margin: 3rem auto;
    box-shadow: 0rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 10px; }
    .coding .coding-box__head {
      height: 80px;
      position: relative;
      background-size: contain;
      background-repeat: no-repeat; }
    .coding .coding-box__language {
      position: absolute;
      top: 35px;
      right: 20px;
      display: inline-block;
      border-radius: 3px;
      padding: .5rem .8rem;
      color: white;
      font-size: 1.2rem;
      background-color: #faa24f; }
      @media only screen and (min-width: 600px) {
        .coding .coding-box__language {
          top: 45px; } }
    .coding .coding-box__content {
      padding: 1rem 2rem 1rem 1rem;
      line-height: 1.4;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-top: -20px; }
      @media only screen and (min-width: 600px) {
        .coding .coding-box__content {
          margin-top: 0; } }
    .coding .coding-box__footer {
      padding: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center; }
      .coding .coding-box__footer a:link,
      .coding .coding-box__footer a:visited {
        text-decoration: none; }
    .coding .coding-box__icon {
      display: flex;
      justify-content: flex-start;
      padding-right: 1rem; }
      .coding .coding-box__icon svg {
        width: 30px;
        height: 30px;
        margin: 0 10px; }

.uleadlogo {
  --degree: 135deg;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06); }
  @media only screen and (min-width: 900px) {
    .uleadlogo .fixed-nav__button {
      right: calc((100vw - 900px) / 2 + 6rem);
      top: 3rem; } }
  @media only screen and (min-width: 900px) {
    .uleadlogo .fixed-nav__background {
      right: calc((100vw - 900px) / 2 + 6.5rem);
      top: 3.5rem; } }
  .uleadlogo h2 {
    font-size: 2rem; }
  .uleadlogo header {
    height: 100vw;
    max-height: 800px;
    position: relative;
    padding: 3rem;
    color: #fff; }
    .uleadlogo header::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(var(--degree), #163E74 0%, #163E74 50%, #fff 50%);
      z-index: -1; }
    .uleadlogo header h1 {
      font-size: 3.2rem;
      padding-bottom: 2rem;
      line-height: 1.6; }
    .uleadlogo header .box {
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 40%;
      color: #163E74;
      background-image: linear-gradient(var(--degree), #fff 0%, #fff 70%, #EECE4A 70%);
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.2), -1rem -2rem 6rem rgba(0, 0, 0, 0.2);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .uleadlogo header .box p {
        font-size: 1rem; }
        @media only screen and (min-width: 700px) {
          .uleadlogo header .box p {
            font-size: 1.2rem; } }
      .uleadlogo header .box img {
        height: 90%; }

.uleadlogomain .background {
  padding: 3rem;
  margin-top: -10rem; }
  @media only screen and (min-width: 700px) {
    .uleadlogomain .background {
      padding: 5rem;
      padding-bottom: 3rem; } }
  .uleadlogomain .background h2 {
    margin: 3rem 0;
    text-align: center; }
  .uleadlogomain .background p {
    line-height: 1.5; }
  .uleadlogomain .background a:link,
  .uleadlogomain .background a:visited {
    text-decoration: none;
    color: #163E74; }

.uleadlogomain .logo-origin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .uleadlogomain .logo-origin .palatte {
    position: relative;
    width: 100%;
    padding: 0 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 700px) {
      .uleadlogomain .logo-origin .palatte {
        padding: 3rem 5rem 5rem 5rem; } }
    .uleadlogomain .logo-origin .palatte h2 {
      margin-bottom: 2rem; }
    .uleadlogomain .logo-origin .palatte p {
      line-height: 1.5; }
    .uleadlogomain .logo-origin .palatte img {
      width: 60%;
      align-self: flex-start; }
      @media only screen and (min-width: 700px) {
        .uleadlogomain .logo-origin .palatte img {
          width: 50%; } }
    .uleadlogomain .logo-origin .palatte::after {
      content: '';
      display: block;
      position: absolute;
      top: 30%;
      right: 0;
      width: 40rem;
      height: 30rem;
      background-color: #EECE4A;
      clip-path: polygon(61% 53%, 100% 0, 100% 99%);
      z-index: -1; }
      @media only screen and (min-width: 700px) {
        .uleadlogomain .logo-origin .palatte::after {
          top: 10%;
          width: 56rem;
          height: 42rem; } }
  .uleadlogomain .logo-origin .concept {
    background-color: #1a4e92;
    color: #fff;
    line-height: 1.4;
    padding: 2rem;
    margin-top: 4rem; }
    .uleadlogomain .logo-origin .concept h2 {
      margin-bottom: 2rem; }
  .uleadlogomain .logo-origin img {
    width: 80%; }

.uleadlogomain .variant {
  margin: 5rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .uleadlogomain .variant__free, .uleadlogomain .variant__color {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    width: 100%;
    margin-bottom: 4rem;
    padding: 2rem 0; }
    .uleadlogomain .variant__free h2, .uleadlogomain .variant__color h2 {
      padding: 2rem;
      color: #fff;
      text-align: left;
      background-image: linear-gradient(var(--degree), #163E74 0%, #163E74 60%, #fff 60%); }
  .uleadlogomain .variant__img {
    margin-top: 2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .uleadlogomain .variant__img img {
      width: 65%; }
      @media only screen and (min-width: 800px) {
        .uleadlogomain .variant__img img {
          width: 60%; } }
  .uleadlogomain .variant__text {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .uleadlogomain .variant__text p {
      margin: 4rem 1rem 4rem 3rem; }

.resume {
  border: 1px solid #ccc;
  width: 21cm;
  height: 29.7cm;
  margin: 20px auto;
  padding: 5px 15px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 13% 15% 27% 15% 20%;
  grid-template-areas: "name name" "education skill" "internship skill" "project skill" "project interest";
  grid-gap: 30px 20px; }
  .resume ul {
    list-style: none; }
    .resume ul li {
      font-size: 12px;
      line-height: 1.4;
      position: relative;
      margin-left: 10px; }
      .resume ul li::before {
        content: ' - ';
        display: inline-block;
        position: absolute;
        left: -8.5px; }
  .resume__name {
    grid-area: name;
    display: flex;
    align-items: center;
    padding-top: 20px; }
    .resume__name .info {
      flex-basis: 60%;
      padding-left: 6px; }
      .resume__name .info h1 {
        font-size: 53px;
        font-weight: 500; }
      .resume__name .info h3 {
        padding-top: 18px;
        font-weight: 300;
        font-size: 19.2px; }
    .resume__name .contact p {
      line-height: 2.5;
      font-size: 15px; }
    .resume__name .contact a:link,
    .resume__name .contact a:visited {
      text-decoration: none;
      color: #000; }
  .resume__education {
    grid-area: education; }
    .resume__education main h3 {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .resume__education span {
      color: #8d8d8d;
      font-weight: 400;
      font-size: 11px; }
  .resume__internship {
    grid-area: internship; }
    .resume__internship .date {
      color: #8d8d8d;
      font-size: 10.5px;
      margin-bottom: 5px; }
    .resume__internship h4 {
      font-size: 12px; }
      .resume__internship h4.healthy {
        margin-top: 5px; }
    .resume__internship div {
      margin-top: 5px; }
  .resume__projects {
    grid-area: project; }
  .resume__interest {
    grid-area: interest; }
    .resume__interest ul li {
      font-size: 13px;
      line-height: 1.7; }
  .resume__skill {
    grid-area: skill; }
    .resume__skill h4 {
      font-size: 14px;
      margin-bottom: 5px; }
    .resume__skill ul li {
      font-size: 13px;
      line-height: 1.7; }
  .resume__content svg {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -5px; }
  .resume__content header {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .resume__content header .big {
      width: 25px;
      height: 25px;
      margin-right: 10px; }
    .resume__content header h2 {
      border-bottom: 1px dashed black;
      flex: 1;
      padding: 5px 0;
      text-transform: uppercase;
      font-size: 18px; }
  .resume__content main {
    margin-left: 35px; }
    .resume__content main div {
      line-height: 1.4; }
      .resume__content main div:not(:last-child) {
        margin-bottom: 20px; }
    .resume__content main h3 {
      font-size: 14px; }
    .resume__content main p {
      font-size: 12px; }

.user-card {
  height: 40vw;
  width: 60vw; }
  .user-card__head {
    height: 40%; }
    .user-card__head--1 {
      filter: blur(3px) brightness(80%);
      background-image: url(../images/user1.png); }
  .user-card__avatar {
    width: 30%;
    height: 45%;
    border-radius: 50%;
    display: block;
    margin-top: -4rem;
    margin-left: 20vw;
    z-index: 1;
    position: relative; }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .review__text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem; }
  .review__user-date {
    font-size: 1rem;
    color: #333; }
  .review__rating {
    color: #2C4D3A;
    font-size: 2.2rem;
    font-weight: 300; }
  .review::before {
    content: "\201C";
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    line-height: 1;
    font-size: 10rem;
    color: #eee;
    font-family: sans-serif;
    z-index: 1; }

.composition {
  position: relative;
  margin: 0 auto;
  width: 70vmin; }
  .composition__photo {
    width: 50vmin;
    display: block;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    outline-offset: 3px; }
    .composition__photo--p1 {
      left: 0;
      top: 0; }
    .composition__photo--p2 {
      right: 0;
      top: 3rem; }
    .composition__photo--p3 {
      left: 10%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 4px solid #2C4D3A;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 1; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.skip {
  position: absolute;
  left: -999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
  color: #E3AD02; }

a.skip:active, a.skip:focus, a.skip:hover {
  position: fixed;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  overflow: visible;
  z-index: 999; }

.btn-inline {
  border: none;
  color: #2C6A5A;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: #FFD845;
    transform: translateY(-3px); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

.homepage-button {
  position: relative;
  -webkit-appearance: none;
  background: #2C626B;
  padding: .5em 1.2em;
  margin-top: 1rem;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px; }
  .homepage-button span {
    position: relative;
    z-index: 100; }
  .homepage-button::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #06e72b, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease; }
  .homepage-button:hover::before {
    --size: 300px;
    z-index: 99; }
