/*-----MAIN-----*/
span.lightboxplaceholder {
  display: none;
}

html{
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.2em;
}

body{
	display: flex;
	flex-direction: column;
}

/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}
a.skip:active, a.skip:focus, a.skip:hover {
  position:fixed;
  top: auto;
  left: auto;
	width: auto;
	height: auto;
	overflow: visible;
	z-index: 999;
}


/*-----HEADER & NAVIGATION-----*/
header{
	font-family: 'Crimson Text', serif;
  font-size: 1em;
  color: #fff;
  box-shadow: 0px 3px 12px 1px rgba(141, 141, 139, .75);
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  background-color: #2C4D3A;
  z-index: 1;
}
#logo {
  z-index: 20;
  position: fixed;
  left: 15px;
  top:5px;
  padding: 4px 5px 1px 5px;
  border: 1px solid #F4F296;
}

input#menu{
  display: none;
}

nav label{
  font-size: 30px;
  color:#F4F296;
  text-align: right;
  display: block;
  cursor: pointer;
  padding: 5px 10px 5px 15px;
  margin: 8px;
  box-sizing: border-box;
}


/*mobile-first*/
#top-nav ul {
  padding: 0;
	list-style-type: none;
	background-color: #2C4D3A;
	display: flex;
  flex-direction: column;
}

#top-nav ul li {
	border-top: 1px solid #F4F296;
}

#top-nav ul li a {
	font-size: 1.2em;
	color: #DDDDDA;
	text-decoration: none;
	padding: 0.8em 1em;
	display: block;
	text-align: center;
}

#top-nav ul li.current-page {
	background-color: #72BBB0;
  font-weight: bold;
}

#menu-content {
  display:none;
}



/*-----LOGO-----*/
.logo {
	margin: 0;
	text-align: center;
	padding: .25em .75em;
}

.logo img{
	height: 3em;
}

/*-----FOOTER-----*/
footer {
	color: #F4F296;
	font-size: .85em;
	text-align: center;
  width: 100%;
  background-color: #2C4D3A;
  padding: 8px 0;
  z-index: 2;
  margin-top: 5px;
  text-overflow:ellipsis;
}

footer p {
  margin-top: 5px;
	padding-top: .5em;
}

footer a {
  margin: 0 10px;
}

.icon-white {
  color: #F4F296;
}

.iconhidden {
  display: none;
}

/*-----HOMEPAGE-----*/
#main-content {
	margin-top: 60px;
  font-size: 11px;
}
#name-card {
	color: black;
  text-align: center;
  width: 100%;
  height: 400px;
  letter-spacing: 1px;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  padding: 20px 0;
}

.name {
	font-size: 4em;
  padding-bottom: 30px;
  letter-spacing: 0.1em;
}

#name-content {
  background-color: rgba(255, 255, 255, 0.6);
  height: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#self {
  padding: 40px 0;
  height: 400px;
  text-align: center;
  background-color: #fff;
  color: black;
  overflow:auto;

}
#self p {
  line-height: 40px;
  font-size: 1em;
}

/*-----Project Page ------*/
#uxProjects {
  width: 80%;
  margin: 30px auto 10px auto;

}
.project {
  overflow: hidden;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  border: 2.5px solid black;
  border-image: linear-gradient( #F3F3F4,#F4F296, #C2E7E6) 30;
  margin-bottom: 30px;
  box-shadow: 0px 1px 8px rgba(141, 141, 139, .75);
}

.title {
	font-size: 1.5em;
  margin-bottom: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #C2E7E6;
  color: #2C6A5A;
}

.project img {
  width: 100%;
}
.pro-description {
  margin: 20px 30px;
}

/*-----Design Page ------*/

.gallary {
  box-sizing: border-box;
  padding: 0 10%;
	margin: 30px auto 10px auto;
	max-width: 500px;
}

.photo-grid {
  display: flex;
  flex-flow: row wrap;
}
.column {
  display: flex;
  flex-direction: column;

}
.photo-cell {
	margin-left:2%;
  margin-bottom:8%;
}

.photo-cell img {
	width: 100%;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(141, 141, 139, .75);
}

/* Contact Page */
#form-bg {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#contact-form {
  width: 80%;
  display: block;
  margin: 60px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border: 2.5px solid black;
  border-image: linear-gradient( #F3F3F4,#F4F296, #C2E7E6) 30;
  padding-bottom: 50px;
  margin-bottom: 170px;
  background-color: rgba(255, 255, 255, 0.8);
}
fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
legend {
  font-size: 2em;
  padding: 30px 5px 10px 5px;
}
#form-content {
  width: 80%;
  margin:0 auto;
  padding-top: 10px;
}

#form-content input {
  display: block;
  width: 60%;
  height: 20px;
  border: 1px solid #2C6A5A;
}
#form-content textarea {
  display: block;
  width: 60%;
  border:1px solid  #2C6A5A;
}
#contact-form #submit {
  box-sizing: content-box;
  width: 50px;
  height: 30px;
  padding: 10px 20px;;
  border-radius: 5px;
  color: #fff;
  background-color: #2C6A5A;
  border: none;
  font-size: 16px;
  margin: 20px;
}
#contact-form #submit:hover {
  background-color: #C2E7E6;
}
#form-content span {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-content label{
  display: block;
  width: 30%;
  text-align: left;
}

#form-content span.required {
  color: #2C6A5A;
  display: inline;
  font-weight: 800;
}





/* ---------- media query---------- */

@media only screen and (min-width:450px)  {
  header {
    left: 0;
    height: 100vh;
    width: 160px;
  }
  footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
  }
  #logo {
    top: 50px;
    left: 60px;
  }
  nav label {
    display: none;
  }
  #menu-content{
    margin-top: 120px;
    display:block;
  }

  #top-nav ul {
    margin: auto;
  }

  #top-nav ul li {
    margin: 10px auto;
    border-top: none;
    border-bottom: 1px solid #F4F296;
  }
  #top-nav ul li.current-page{
  	background-color: #2C4D3A;
    border-bottom: 3px solid #F4F296;
    color: #F4F296;
  }

  #top-nav a.current-page{
    color: #F4F296;
    font-weight: bold;
  }
  #top-nav ul li a{
  	padding: 1.3em 0 0.6em 0;
  }
  #main-content{
    margin-top: 0;
    margin-left: 160px;
    font-size: 16px;
  }

  #uxProjects {
    max-width: 500px;
    margin-top: 30px;
  }
  .gallary{
    margin-top: 30px;
  	max-width: 800px;
  }

  footer {
    width: 160px;
  }
}

@media only screen and (min-width:1024px)  {
  header{
    box-shadow: 0px 3px 12px 1px rgba(141, 141, 139, .75);
    width: 100%;
    height: auto;
    background-color: #2C4D3A;
  }
  #logo {
    top: 5px;
    left: 13px;
  }

  #menu-content{
      margin-top: 0;
      margin-left: 58%;
      margin-right: 20px;
      width: 40%;
  }

  #top-nav ul {
    flex-direction: row;
    padding-right: 10px;
    width: 400px;
    justify-content: space-around;
  }

  #top-nav ul li{
    border-top: 0;
    justify-content: space-between;
    margin: 0 10px;
    padding: 0 10px;
    border-bottom: none;
  }
  #top-nav ul li a{
    font-size: 20px;
  	padding: 1em 0 0.6em 0;
  }

  #top-nav ul li.current-page{
    border-bottom: 5px solid #F4F296;
  }
  #main-content{
    margin-left: 0;
    margin-top: 60px;
  }

  #uxProjects {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto 10px auto;
  }
  .project {
    flex-direction: row;
    height: 300px;
    margin-bottom: 40px;
  }
  .project img {
    height: 300px;
    width: auto;
  }
  footer{
    position: static;
    width: 100%;
    bottom: 0;
  }

  .gallary{
  	max-width: 2000px;
    margin-top: 30px;
  }

  .column {
    margin: 2%;
    width: 45%;
  }
  .photo-cell{
    width: 100%;
  }
  #form-content {
    width: 50%;

  }

}
