.footer {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    line-height: 1;
    color: #fff;
    padding: 1rem;

}