body {
  margin: 0;
}

img {
  border: 2px solid black;
  height: 200px;
  margin: 50px;
}

.bar {
  width: 100%;
	height: 100px;
	background: gray;
  position: relative;
  top: 30px;
}

.square {
  width: 40px;
	height: 40px;
	background: blue;
  position: absolute;
  top:30%;
  left:0;
  transition: transform 2s linear;
}

.hover:hover {
	border-radius: 50%;
}


.active:active{
	opacity: 0.5;
}

.focus:focus{
  outline-color: grey;
}

.focus:active{
  filter: grayscale(100%);
}

.square:focus {
  transform: translateX(2000px);
  /* animation: xchange 4s linear alternate;
  animation-iteration-count:2;
  animation-fill-mode: forwards; */
}

.square:active{
  background: red;
  outline-color: green;
  transform: rotate(360deg);
  /* animation: spin 2s infinite linear;
  animation-fill-mode: both; */
}


/* @keyframes xchange {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(2000px);
  }
} */

/* @keyframes spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/*
@keyframes rotate {
  0%{
    left:0;
    transform: rotate(20deg);
  }
  100%{
    left:100%;
    transform: rotate(90deg);
  }
}
*/
