
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.a {
    background-color: green;
    grid-column: 1 / 4;
    grid-row: 1;
}

.b{
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 2 / 4 ;

}

.c{
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 2 / 4 ;
}

.d{
    background-color: green;
    grid-column: 1 / 4;
    grid-row: 4;
}
