#fullpage-container {
    overflow: hidden;
    width:100%;
}

#fullpage-main{
    top:0;
    position: relative;
    font-family: $font-primary;
}

#fullpage-control {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  
    .circle {
      width: 1rem;
      height: 1rem;
      border-radius: 1rem;
      background-color: white;
      margin: .6rem;
      transition: transform 0.5s ease-out;
    }
    .large {
      transform: scale(1.3);
    }
  }